/**********************************
attribution to Jonathan Snook "Scalable and Modular Architecture for CSS".
these are the modules that will be in the major layout containers that you defined in the layout.css.  These are tabs, customized list view, buttons.  Modules contain the content and are the majority of your site
***********************************/

.m-text-align {
  text-align: center;
  margin: 0;
}
.m-topheader-text {
 font-family: 'Montserrat', sans-serif;
 margin: 1rem;
 text-align: center;

}
.m-topheader-h2 {
  font-family: 'Montserrat', sans-serif;
  color: #666;
  text-align: center;
}
.m-topheader-h3 {
  font-family:font-family: 'Caudex', serif;
  color: #666;
  text-align: center;
}
.m-nav-list  {
  list-style-type: none;
  margin: .5rem .75rem;
  display: inline-block;
}
.m-nav-list li {
color: #fff;
font-size: 1.0rem;
text-decoration: none;
display: inline-block;
margin-right: .5rem;
}

.m-nav-images {
  width: 35px;
  height: 35px;
}
.m-accordian-panel {
  display: none;
}
.m-filters {
  list-style-type: none;
}
p.m-posteddate{
  color: rgba(128, 128, 128, 0.55);
}

/* TOP NAVIGATION*/
.logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 90px;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
  padding-top: 20px;
}

.title h1 {
display: flex;
text-transform: capitalize;
font-family: Raleway-SemiBold;
color: #fff;
font-size: 36px;
letter-spacing: 0.08px;
line-height: 42px;
}
.title h2 {
display: flex;
font-family: Satisfy;
color: #DAFC38;
padding-left: 10px;
font-size: 17.92px;
letter-spacing: 0.03px;
line-height: 26px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  margin-right: 90px;
}

.main-nav nav {
  justify-content: space-around;
  display: flex;
  width: 400px;
}

.main-nav nav a {
  text-decoration: none;
  color: #fff;
}

/*What we are/who we are section*/
.section-content {
  margin: 0 auto;
  max-width: 70%;
  text-align: center;
}

.section-content h1 {
  /* WHAT WE ARE: */
font-family: Raleway-Bold;
font-size: 64px;
color: #FFFFFF;
letter-spacing: 25.18px;
line-height: 85px;
text-align: center;
text-transform: uppercase;
}

.section-content hr {
  /* Line: */
border: 1px solid #181B34;
width: 70%;
margin-top: -40px;
margin-bottom: 40px;
}
.section-content p {
font-family: OpenSans;
font-size: 13.49px;
color: #666666;
letter-spacing: 0.5px;
line-height: 33px;
}

/*LINKS SECTION*/
.links {
  display: flex;
  flex-direction: row;
}
.links div {
  width: 50%;
  height: 450px;
  font-family: Raleway-Bold;
  font-size: 64px;
  color: #FFFFFF;
  letter-spacing: 20px;
  line-height: 85px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center
}
.links div p {
  margin: 0;
}
.map {
  background:linear-gradient(rgba(24, 26, 52, 0.6),rgba(24, 26, 52, 0.6)),url("/img/single-bike.jpg");
  background-size: cover;
}
.discuss {
  background:linear-gradient(rgba(218,252,56,0.4),rgba(218,252,56,0.4)),url("/img/lady-bicycle.jpg");
  background-size: cover;
}

/*profile section*/
#profiles {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-around;
}
.profile-photo {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  background-color: #fff;
  border:
}
.profile-photo img{
  margin: 0 auto;
  margin-top: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.profile-photo p {
font-family: OpenSans;
font-size: 13.49px;
color: #666666;
letter-spacing: 0.5px;
line-height: 33px;
padding: 10px;
}
.profile-photo h3 {
  font-family: satisfy;
  color: #181B34;
  font-size: 26px;
  text-align: center;
  margin-bottom: 0;
}
/*Contact Us Section*/
#contact-us {
  background-color: #181B34;
  max-width: 100%;
  padding-bottom: 30px;
}
#contact-us hr {
border: 1px solid #FFFFFF;
width: 70%;
margin-top: -40px;
margin-bottom: 40px;
}
.contact-background {
  background-color: #fff;
  width: 500px;
  display: flex;
  justify-content: center;
  padding: 30px 0 30px 0;
  margin-left: 50px;
}
#contact_form {
  margin: 0;
}
.input {
  display: flex;
  width: 300px;
  height: 30px;
  border-radius: 4px;
}
#message {
  height: 200px;
}
#submit_button {
  display: block;
  width: 305px;
  height: 50px;
  border-radius: 4px;
  font-family: raleway;
  font-size: 26px;
  color: #fff;
  background-color: #d8d8d8;
}
